manifest {
    author = 'Keiler Collier'
    description = 'A NextFlow-enabled pipeline intended to streamline SNP discovery from .vcf files'
    mainScript = 'main.nf'
    name = 'OikosFilt'
    nextflowVersion = '>=25.0.0' //this is the version of NextFlow I initially developed the pipeline on. It might work for others.
    version = '1.0.0'
}

cleanup = true

workflow {
    output.mode = 'copy'
}

params {
    // Params for upper-resource limits:
    max_cpus = Runtime.runtime.availableProcessors()
    totalMemoryGB = Runtime.runtime.maxMemory() / 1024 / 1024 / 1024 
    memoryToUseGB = (totalMemoryGB * 0.8).round(2)

    //User-facing params
    help = false
    vcf = null
    prefix = null
    threads = max_cpus / 2
    bi_snps = null
    dp_95ile = null
    min_dp = null
    min_qual = null
    min_gq = null
    min_maf = null
    max_fmiss_ind = null
    max_fmiss_site = null

    //non-user facing parameters:
    outdir = params.prefix
}

process {
    resourceLimits = [ cpus: params.max_cpus, memory: params.memoryToUseGB, time: 72.h ]
}


//defines execution profiles for different environments
profiles {
    standard {
        conda.enabled = true
        conda.cacheDir = "${launchDir}/conda_cache"
        conda.channels = ['bioconda', 'conda-forge']
        report.overwrite = true
        process {
            conda = 'bcftools=1.20.0 vcftools'
        }
    }
    chpc {
        conda.enabled = false
        process {
            conda = null
            beforeScript = 'export PATH="/usr/local/bin:$PATH"'
        }
    }
}
